{% extends 'base.html' %}

{% block head %}
<title>Cube Timer</title>
{% endblock %}

{% block body %}
<header>
    <a href='/login'>Log in</a>
    <a href='/signup'>Sign up</a>
</header>

<h1 style="text-align: center;">Cube Timer</h1>
<div class="container">
    <div class="row">
        <div class="col-9 border border-primary">
            <p class="timerLabel" id="timerLabel">0.00</p>
        </div>
        <div class="col-3">
            <div class="form">
                <form action="/" method="POST" id="form">
                    <input type="number" name="value" id="value" size="5" placeholder="0.00" required name="price" min="0" max="999.99" step="0.01" pattern="^\d+(?:\.\d{1,2})?$">
                    <select id="puzzle" name="puzzle">
                        <option value="3x3">3x3</option>
                        <option value="4x4">4x4</option>
                        <option value="5x5">5x5</option>
                        <option value="6x6">6x6</option>
                    </select>
                    <input type="submit" value="Add Time">
                </form>
            </div>
            {% if times|length < 1 %}
                <h6>There are no times to display.</h6>
            {% else %}

                <table>
                    <tr>
                        <th>Time</th>
                        <th>Puzzle</th>
                        <th>Actions</th>
                    </tr>
                    {% for time in times %}
                        <tr>
                            <td>{{ time.value }}</td>
                            <td>{{ time.puzzle }}</td>
                            <td>
                                <a href="/delete/{{time.id}}">Delete</a>
                                <a href="/update/{{time.id}}">Update</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>

</div>

<script>
        var status = 0; // 0:stop 1:running
    var time = 0;
    var timerLabel = document.getElementById('timerLabel');
    var value = document.getElementById('value');
    var form = document.getElementById('form')

    function start(){
        time=0;
        status = 1;
        timer();
    }

    function stop(){
        status = 0;
        console.log([timerLabel.innerHTML, value.value, time]);
        form.submit();
    }

    function timer(){
        if (status == 1) {
            setTimeout(function() {
                time++;
                
                var sec = Math.floor(time/100);
                var mSec = time % 100;

                if (mSec < 10) mSec = "0" + mSec;

                timerLabel.innerHTML = sec + "." + mSec;
                //value.value = sec + "." + mSec;
                value.value = time/100
                
                timer();
            }, 10);
        }
    }

    document.onkeydown = function(event) { 
        if (event) {
            if (event.keyCode == 32 || event.which == 32) {
                if(status == 1) {
                    stop();
                } else if (status == 0) {
                    start();
                }
            }
        }
    };
</script>
{% endblock %}
